
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>QxBroker.com - QxBroker Pakistan official site</title>
            <link
            rel="canonical"
            href="https://quotexbroker.com.pk/qxbroker-com"
        />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/profile/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/profile/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/profile/favicons/favicon-16x16.png">
    <link rel="shortcut icon" href="/static/static/profile/favicons/favicon.ico">
    <link rel="mask-icon" href="/static/static/profile/favicons/safari-pinned-tab.svg" color="#a0002a">
    <link rel="manifest" href="/static/static/profile/favicons/site.webmanifest">
    <meta name="description" content="QxBroker.com, Quotex Pakistan official website for the smart investment trading platform. Sign up and get 10 000 USD demo account for training. Join Quotex Market Pakistan Trading Platform now!">
    <meta name="msapplication-TileColor" content="#a0002a">
    <meta name="msapplication-config" content="/static/profile/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="interkassa-verification" content="52ae35204ccc1b97dfc591cb53ca5d3a" />
    <link rel="shortcut icon" href="/static/profile/images/favicon.png">

    <link rel="stylesheet" href="/static/site/css/main.min.css?8">
            <link rel="stylesheet" href=/static/css/debugbar/debug-bar-decorator.css">
        <script src="https://unpkg.com/imask"></script>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PV4T83K074"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PV4T83K074');
</script>
</head>
<body class="page-index">
<bdi>
<!-- prettier-ignore -->
<div>
    <div  class="main__platform-content">
        <header class="header" id="top">
            <div class="header__menu">
                <a class="header__logo" href="/home/quotex"><i class="quotex-logo"></i></a>

                <nav class="header__links">
                    <ul class="header__list">
                        <li class="header__list--item">
                            <a href="https://t.me/QuotexProfitKingVIPSignals" target="_blank">VIP QUOTEX SIGNALS</a>
                        </li>
                        <li class="header__list--item">
                            <a href="/go/quotex/">
                                Demo account                            </a>
                        </li>
                        <li class="header__list--item ">
                            <a href="/about-quotex-pakistan/">
                                About us                            </a>
                        </li>
                        <li class="header__list--item ">
                            <a href="/faqs/">FAQ</a>
                        </li>
                        <li class="header__list--item">
                            <a href="/blog/">Blog</a>
                        </li>
                    </ul>
                </nav>

                <div class="header__buttons">
                    <a href="/go/quotex/" class="header__button-log-in " >Log in</a>
                    <a href="/go/quotex/" class="header__button" id="button-sign-up">Sign up</a>

                </div>

                <button id="mobile-trigger" class="header__mobile-button">
                    <div id="nav-icon">
                        <span></span>
                        <span></span>
                    </div>
                </button>

                <div class="header__mobile-container">
                    <div class="header__mobile-block">
                        <div class="header__mobile-container__nav">
                           <a href="https://t.me/QuotexProfitKingVIPSignals" target="_blank">VIP QUOTEX SIGNALS</a>
                        </div>
                        <div class="header__mobile-container__nav">
                            <a href="/go/quotex/">Demo account</a>
                        </div>
                        <div class="header__mobile-container__nav">
                            <a href="/about-quotex-pakistan/">About us</a>
                        </div>
                        <div class="header__mobile-container__nav">
                            <a href="/faqs/">FAQ</a>
                        </div>
                        <div class="header__mobile-container__nav">
                            <a href="/blog/">Blog</a>
                        </div>
                    </div>

                    <div class="header__mobile-container__footer-buttons">
                        <a href="/go/quotex/" class="header__mobile-container__footer-log-in">Login</a>
                        <a href="/go/quotex/" class="header__mobile-container__footer-sign-up" >Sign up</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="main__platform-video__intro">
            <div class="main__platform-video">
                <video class="main__platform-video__media" src="/static/site/img/main_bg.mp4" autoplay playsinline muted loop></video>
            </div>
        </div>
        <div class="main__platform">
            <div class="main__platform-content">
                <div class="main__platform-title">Innovative platform for smart investments</div>
                <div class="main__platform-subtitle">Sign up and get 10,000 USD to your demo account to learn how to trade.</div>

                <div class="main__platform-buttons">
                    <a class="main__platform-button" href="/go/quotex/">Create a free account</a>
                    <div class="main__platform-help">* The minimum deposit amount to start real trading is 10 USD</div>
                </div>
            </div>

        </div>
    </div>
    <div class="main__platform-interface">
        <img class="main__platform-interface-decktop" src="/static/site/img/main-platform.png" alt="main-platform" />
        <img class="main__platform-interface-mobile" src="/static/site/img/main-platform-mobile.png" alt="main-platform-mobile" />
        <video src="/static/site/img/platform-demo.webm" autoplay muted loop></video>
    </div>
</div>

<div class="main">
    <div class="main__features">
        <div class="main__features-title">Features of the platform</div>
        <div class="main__features-subtitle">We regularly improve our platform to make your trading comfortable and safe.</div>

        <div class="main__features-items">
            <div class="main__features-item">
                <i class="icon icon__features-user-friendly-interface"></i>

                <div class="main__features-item__title">User-friendly interface</div>
                <div>You have access to all the trading instruments you need, and their speed is impressive.</div>

                <a href="/go/quotex/fast/">
                    Sign up                    <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.61073 2.87197L8.17387 3.29219C8.03653 3.42413 7.96054 3.6005 7.96054 3.78824C7.96054 3.97618 8.03653 4.16851 8.17387 4.30045L10.9808 7.01733L2.06298 7.01733C1.66081 7.01733 1.33333 7.29978 1.33333 7.68662L1.33333 8.28123C1.33333 8.66797 1.66081 9.02186 2.06298 9.02186H11.0126L8.17387 11.7333C8.03653 11.8655 7.96054 12.0317 7.96054 12.2197C7.96054 12.4074 8.03653 12.5789 8.17387 12.7109L8.61073 13.1288C8.89506 13.4023 9.35761 13.4012 9.64195 13.1277L14.4538 8.49744C14.5908 8.36561 14.6667 8.18872 14.6667 7.99941V7.99743C14.6667 7.80959 14.5908 7.63312 14.4538 7.50128L9.64206 2.87197C9.35783 2.59829 8.89506 2.59829 8.61073 2.87197Z" />
                    </svg>
                </a>
            </div>

            <div class="main__features-item">
                <i class="icon icon__features-integrated-signals"></i>

                <div class="main__features-item__title">Integrated signals</div>
                <div>Signals with 87% accuracy rate will help you to build a profitable strategy.</div>

                <a href="/go/quotex/fast/">
                    Try it                    <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.61073 2.87197L8.17387 3.29219C8.03653 3.42413 7.96054 3.6005 7.96054 3.78824C7.96054 3.97618 8.03653 4.16851 8.17387 4.30045L10.9808 7.01733L2.06298 7.01733C1.66081 7.01733 1.33333 7.29978 1.33333 7.68662L1.33333 8.28123C1.33333 8.66797 1.66081 9.02186 2.06298 9.02186H11.0126L8.17387 11.7333C8.03653 11.8655 7.96054 12.0317 7.96054 12.2197C7.96054 12.4074 8.03653 12.5789 8.17387 12.7109L8.61073 13.1288C8.89506 13.4023 9.35761 13.4012 9.64195 13.1277L14.4538 8.49744C14.5908 8.36561 14.6667 8.18872 14.6667 7.99941V7.99743C14.6667 7.80959 14.5908 7.63312 14.4538 7.50128L9.64206 2.87197C9.35783 2.59829 8.89506 2.59829 8.61073 2.87197Z" />
                    </svg>
                </a>
            </div>

            <div class="main__features-item">
                <i class="icon icon__features-trading-indicators"></i>

                <div class="main__features-item__title">Trading indicators</div>
                <div>We have collected the most useful trading indicators for you. Test them on a demo account to see which ones best suit your trading style.</div>

                <a href="/go/quotex/fast/">
                    Explore                    <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.61073 2.87197L8.17387 3.29219C8.03653 3.42413 7.96054 3.6005 7.96054 3.78824C7.96054 3.97618 8.03653 4.16851 8.17387 4.30045L10.9808 7.01733L2.06298 7.01733C1.66081 7.01733 1.33333 7.29978 1.33333 7.68662L1.33333 8.28123C1.33333 8.66797 1.66081 9.02186 2.06298 9.02186H11.0126L8.17387 11.7333C8.03653 11.8655 7.96054 12.0317 7.96054 12.2197C7.96054 12.4074 8.03653 12.5789 8.17387 12.7109L8.61073 13.1288C8.89506 13.4023 9.35761 13.4012 9.64195 13.1277L14.4538 8.49744C14.5908 8.36561 14.6667 8.18872 14.6667 7.99941V7.99743C14.6667 7.80959 14.5908 7.63312 14.4538 7.50128L9.64206 2.87197C9.35783 2.59829 8.89506 2.59829 8.61073 2.87197Z" />
                    </svg>
                </a>
            </div>

            <div class="main__features-item">
                <i class="icon icon__features-support"></i>

                <div class="main__features-item__title">Support 24/7</div>
                <div>Our highly trained support staff is ready to assist you at any time.</div>

                <a href="/go/quotex/">
                    Submit a request                    <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.61073 2.87197L8.17387 3.29219C8.03653 3.42413 7.96054 3.6005 7.96054 3.78824C7.96054 3.97618 8.03653 4.16851 8.17387 4.30045L10.9808 7.01733L2.06298 7.01733C1.66081 7.01733 1.33333 7.29978 1.33333 7.68662L1.33333 8.28123C1.33333 8.66797 1.66081 9.02186 2.06298 9.02186H11.0126L8.17387 11.7333C8.03653 11.8655 7.96054 12.0317 7.96054 12.2197C7.96054 12.4074 8.03653 12.5789 8.17387 12.7109L8.61073 13.1288C8.89506 13.4023 9.35761 13.4012 9.64195 13.1277L14.4538 8.49744C14.5908 8.36561 14.6667 8.18872 14.6667 7.99941V7.99743C14.6667 7.80959 14.5908 7.63312 14.4538 7.50128L9.64206 2.87197C9.35783 2.59829 8.89506 2.59829 8.61073 2.87197Z" />
                    </svg>
                </a>
            </div>

            <div class="main__features-item">
                <i class="icon icon__features-bonus-programs"></i>

                <div class="main__features-item__title">Bonus programs</div>
                <div>Participate in tournaments and giveaways for traders to get bonuses.</div>

                <a href="/go/quotex/">
                    Get a bonus                    <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.61073 2.87197L8.17387 3.29219C8.03653 3.42413 7.96054 3.6005 7.96054 3.78824C7.96054 3.97618 8.03653 4.16851 8.17387 4.30045L10.9808 7.01733L2.06298 7.01733C1.66081 7.01733 1.33333 7.29978 1.33333 7.68662L1.33333 8.28123C1.33333 8.66797 1.66081 9.02186 2.06298 9.02186H11.0126L8.17387 11.7333C8.03653 11.8655 7.96054 12.0317 7.96054 12.2197C7.96054 12.4074 8.03653 12.5789 8.17387 12.7109L8.61073 13.1288C8.89506 13.4023 9.35761 13.4012 9.64195 13.1277L14.4538 8.49744C14.5908 8.36561 14.6667 8.18872 14.6667 7.99941V7.99743C14.6667 7.80959 14.5908 7.63312 14.4538 7.50128L9.64206 2.87197C9.35783 2.59829 8.89506 2.59829 8.61073 2.87197Z" />
                    </svg>
                </a>
            </div>

            <div class="main__features-item">
                <i class="icon icon__features-deposits-withdrawals"></i>

                <div class="main__features-item__title">Deposits and withdrawals</div>
                <div>Various deposit options and fast withdrawal of funds. The minimum deposit is only 10 USD.</div>

                <a href="/go/quotex/">
                    Start trading                    <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.61073 2.87197L8.17387 3.29219C8.03653 3.42413 7.96054 3.6005 7.96054 3.78824C7.96054 3.97618 8.03653 4.16851 8.17387 4.30045L10.9808 7.01733L2.06298 7.01733C1.66081 7.01733 1.33333 7.29978 1.33333 7.68662L1.33333 8.28123C1.33333 8.66797 1.66081 9.02186 2.06298 9.02186H11.0126L8.17387 11.7333C8.03653 11.8655 7.96054 12.0317 7.96054 12.2197C7.96054 12.4074 8.03653 12.5789 8.17387 12.7109L8.61073 13.1288C8.89506 13.4023 9.35761 13.4012 9.64195 13.1277L14.4538 8.49744C14.5908 8.36561 14.6667 8.18872 14.6667 7.99941V7.99743C14.6667 7.80959 14.5908 7.63312 14.4538 7.50128L9.64206 2.87197C9.35783 2.59829 8.89506 2.59829 8.61073 2.87197Z" />
                    </svg>
                </a>
            </div>
        </div>

        <div class="main__features-demo">
            <div class="main__features-demo__block">
            <img src="/static/site/img/demo.png" alt="demo"/>
                <div>
                    <p>Trade on demo – no registration is required!</p>
                    <p>Or register a personal account to access additional features.</p>
                </div>
            </div>

            <div class="main__features-demo__buttons">
                <a href="/go/quotex/fast/" class="main__features-demo__button-demo">
                    Try demo                </a>
                <a href="/go/quotex/" class="main__features-demo__button-register">
                    Register an account                </a>
            </div>
        </div>
    </div>

    <div class="main__capital-container">
        <div class="main__capital">
            <div>
                <div class="main__capital-title">Grow your capital by making the right trading predictions</div>
                <div class="main__capital-subtitle">Will the price go up or down? Predict the price movement of a trading asset and place a trade.</div>

                <div class="main__capital-buttons">
                    <a href="/go/quotex/fast/" class="main__capital-button">Try it for free</a>

                    <div class="main__capital-demo">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                          <path d="M8.97081 1.44455C9.27637 1.11452 9.27637 0.590956 8.97081 0.260926C8.64403 -0.0920145 8.10001 -0.0850199 7.79051 0.270467L3.02916 5.41299C2.88019 5.57389 2.79998 5.79045 2.79998 6.00481C2.79998 6.2264 2.87901 6.43445 3.02916 6.59662L7.79051 11.7391C8.11254 12.087 8.64878 12.087 8.97081 11.7391C9.27637 11.4091 9.27637 10.8856 8.97081 10.5555L4.74885 5.99557L8.97081 1.44455Z" fill="black" fill-opacity="0.5"/>
                        </svg>
                        <div>Practice on a demo account without registration.</div>
                    </div>
                </div>

                <i class="icon icon__chart">
                    <div class="main__capital-dot"></div>
                </i>
            </div>

            <div class="main__capital-money">
                <img src="/static/site/img/capital-money.png" alt="capital-money"/>
            </div>

            <div class="main__capital-items">
                <div class="main__capital-item">
                    <div class="main__capital-item__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                          <path d="M2 2.5L5 11.5L7 7.5L11 5.5L2 2.5Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"/>
                          <path d="M16 13.5V19.5" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"/>
                          <path d="M13 16.5H19" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"/>
                          <path d="M16 23.5C19.866 23.5 23 20.366 23 16.5C23 12.634 19.866 9.5 16 9.5C12.134 9.5 9 12.634 9 16.5C9 20.366 12.134 23.5 16 23.5Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"/>
                        </svg>
                    </div>
                    <div>1. Select an asset</div>
                </div>
                <div class="main__capital-item">
                    <div class="main__capital-item__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                          <path d="M1 11.5H6L9 6.5L13 16.5L16 11.5H21" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                          <path d="M19 1.5H3C1.89543 1.5 1 2.39543 1 3.5V19.5C1 20.6046 1.89543 21.5 3 21.5H19C20.1046 21.5 21 20.6046 21 19.5V3.5C21 2.39543 20.1046 1.5 19 1.5Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"/>
                        </svg>
                    </div>

                    <div>2. Monitor the chart</div>
                </div>
                <div class="main__capital-item">
                    <div class="main__capital-item__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 24 23" fill="none">
                          <path d="M14 6.49993L11.828 8.67193C11.0779 9.42181 10.0607 9.84307 9 9.84307C7.93934 9.84307 6.92211 9.42181 6.172 8.67193L6 8.49993L10.929 3.57093C12.2552 2.24507 14.0537 1.50024 15.929 1.50024C17.8043 1.50024 19.6028 2.24507 20.929 3.57093C22.0427 4.68473 22.7528 6.13836 22.9468 7.70145C23.1408 9.26453 22.8076 10.8477 22 12.1999" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"/>
                          <path d="M15.266 9.766L18.879 13.379C19.4414 13.9416 19.7573 14.7045 19.7573 15.5C19.7573 16.2955 19.4414 17.0584 18.879 17.621L17.243 19.257C16.6858 19.8143 16.0243 20.2563 15.2963 20.5579C14.5683 20.8595 13.788 21.0147 13 21.0147C12.212 21.0147 11.4317 20.8595 10.7037 20.5579C9.97563 20.2563 9.31415 19.8143 8.75699 19.257L3.07099 13.571C1.74513 12.2448 1.00031 10.4463 1.00031 8.571C1.00031 6.69571 1.74513 4.8972 3.07099 3.571C4.37823 2.26011 6.14876 1.51619 7.99999 1.5" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"/>
                          <path d="M18.391 18.109L14.5 14.219" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                          <path d="M15.5129 20.465L11.8829 16.835" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                        </svg>
                    </div>

                    <div>3. Place a trade</div>
                </div>
                <div class="main__capital-item">
                    <div class="main__capital-item__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                          <path d="M7 13.5H1V1.5H19V9.671" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                          <path d="M11 12.5V16.5C11 18.157 13.686 19.5 17 19.5C20.314 19.5 23 18.157 23 16.5V12.5" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                          <path d="M11 16.5V20.5C11 22.157 13.686 23.5 17 23.5C20.314 23.5 23 22.157 23 20.5V16.5" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                          <path d="M17 15.5C20.3137 15.5 23 14.1569 23 12.5C23 10.8431 20.3137 9.5 17 9.5C13.6863 9.5 11 10.8431 11 12.5C11 14.1569 13.6863 15.5 17 15.5Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"/>
                          <path d="M10 8.5C10.5523 8.5 11 8.05228 11 7.5C11 6.94772 10.5523 6.5 10 6.5C9.44772 6.5 9 6.94772 9 7.5C9 8.05228 9.44772 8.5 10 8.5Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"/>
                          <path d="M10 8.5C10.5523 8.5 11 8.05228 11 7.5C11 6.94772 10.5523 6.5 10 6.5C9.44772 6.5 9 6.94772 9 7.5C9 8.05228 9.44772 8.5 10 8.5Z" fill="white"/>
                        </svg>
                    </div>

                    <div>4. Get the result</div>
                </div>
            </div>
        </div>
    </div>

    <div class="main__reviews">
        <svg class="main__reviews-icon" xmlns="http://www.w3.org/2000/svg">
            <symbol id="star" viewBox="0 0 22 20">
                <path d="M10.1033 0.816987C10.4701 0.0737414 11.5299 0.0737401 11.8967 0.816986L14.294 5.67446C14.4397 5.9696 14.7213 6.17417 15.047 6.2215L20.4075 7.00043C21.2277 7.11961 21.5552 8.12759 20.9617 8.70612L17.0828 12.4871C16.8471 12.7169 16.7396 13.0479 16.7952 13.3723L17.7109 18.7111C17.851 19.528 16.9936 20.151 16.26 19.7653L11.4653 17.2446C11.174 17.0915 10.826 17.0915 10.5347 17.2446L5.74005 19.7653C5.00642 20.151 4.14899 19.528 4.2891 18.7111L5.20479 13.3723C5.26043 13.0479 5.15288 12.7169 4.91719 12.4871L1.03827 8.70612C0.444756 8.12759 0.772265 7.11961 1.59249 7.00043L6.95302 6.2215C7.27873 6.17417 7.5603 5.9696 7.70596 5.67446L10.1033 0.816987Z" fill="#0FAF59"/>
            </symbol>
            <symbol id="star-grey" viewBox="0 0 22 20">
                <path d="M10.1033 0.816987C10.4701 0.0737414 11.5299 0.0737401 11.8967 0.816986L14.294 5.67446C14.4397 5.9696 14.7213 6.17417 15.047 6.2215L20.4075 7.00043C21.2277 7.11961 21.5552 8.12759 20.9617 8.70612L17.0828 12.4871C16.8471 12.7169 16.7396 13.0479 16.7952 13.3723L17.7109 18.7111C17.851 19.528 16.9936 20.151 16.26 19.7653L11.4653 17.2446C11.174 17.0915 10.826 17.0915 10.5347 17.2446L5.74005 19.7653C5.00642 20.151 4.14899 19.528 4.2891 18.7111L5.20479 13.3723C5.26043 13.0479 5.15288 12.7169 4.91719 12.4871L1.03827 8.70612C0.444756 8.12759 0.772265 7.11961 1.59249 7.00043L6.95302 6.2215C7.27873 6.17417 7.5603 5.9696 7.70596 5.67446L10.1033 0.816987Z" fill="white" fill-opacity="0.2"/>
            </symbol>

            <symbol id="arrow-right" viewBox="0 0 16 16">
              <path d="M8.61 2.872L8.174 3.292a.67.67 0 0 0-.213.496c0 .188.076.38.213.512l2.807 2.717H2.063c-.402 0-.73.282-.73.669v.595c0 .386.328.74.73.74h8.95L8.174 11.733a.67.67 0 0 0-.213.487c0 .187.076.373.213.505l.437.418c.284.273.747.272 1.031-.002l4.812-4.63a.67.67 0 0 0 .213-.502v-.002a.67.67 0 0 0-.213-.502L9.642 2.872c-.284-.274-.747-.274-1.031 0z" fill="#026FD3"/>
            </symbol>
        </svg>

        <div class="main__reviews-title">What people say about us</div>
        <div class="main__reviews-subtitle">We asked our customers to rate Quotex on a five-point scale.</div>

                    <div class="main__reviews-items">
                                    <div class="main__reviews-item">
                        <div class="main__reviews-item__user">Gabriel</div>
                        <div>
                            <span class="main__reviews-item__value">30 janvier 2023</span>
                        </div>
                        <div>
                            <span class="main__reviews-item__label">Earned:</span>
                            <span class="main__reviews-item__value">$4512</span>
                        </div>
                        <div class="main__reviews-item__rating">
                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                    </div>

                        <span class="main__reviews-item__text">
                            Tout me plaît jusqu'à présent, aucune erreur n'a été trouvée jusqu'à présent. Je voudrais également dire que le SP est très poli et compétent.                        </span>

                        <a href="https://quotexbroker.com.pk/en/reviews/494/" class="main__reviews-item__button">
                            Read More                            <svg><use href="#arrow-right"/></svg>
                        </a>
                    </div>
                                 <div class="main__reviews-item">
                        <div class="main__reviews-item__user">Julien</div>
                        <div>
                            <span class="main__reviews-item__value">22 juillet 2021</span>
                        </div>
                        <div>
                            <span class="main__reviews-item__label">Earned:</span>
                            <span class="main__reviews-item__value">$1378</span>
                        </div>
                        <div class="main__reviews-item__rating">
                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                    </div>

                        <span class="main__reviews-item__text">
                            Tout est pratique, il y a toutes sortes de bonus à compléter, beaucoup de devises. Jusqu'à présent, Quotex est le meilleur courtier pour moi!                        </span>

                        <a href="https://quotexbroker.com.pk/en/reviews/492/" class="main__reviews-item__button">
                            Read More                            <svg><use href="#arrow-right"/></svg>
                        </a>
                    </div>
                                 <div class="main__reviews-item">
                        <div class="main__reviews-item__user">Olivier</div>
                        <div>
                            <span class="main__reviews-item__value">18 avril 2021</span>
                        </div>
                        <div>
                            <span class="main__reviews-item__label">Earned:</span>
                            <span class="main__reviews-item__value">$678</span>
                        </div>
                        <div class="main__reviews-item__rating">
                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star-grey"/></svg>
                                                                                    </div>

                        <span class="main__reviews-item__text">
                            N'accroche pas, fonctionne très bien, pas de bonnes cartes pendant le DUT, toujours content des bonus. Je le recommande du fond du cœur. Je l'utilise en 2021.                        </span>

                        <a href="https://quotexbroker.com.pk/en/reviews/496/" class="main__reviews-item__button">
                            Read More                            <svg><use href="#arrow-right"/></svg>
                        </a>
                    </div>
                                 <div class="main__reviews-item">
                        <div class="main__reviews-item__user">Luc</div>
                        <div>
                            <span class="main__reviews-item__value">5 novembre 2020</span>
                        </div>
                        <div>
                            <span class="main__reviews-item__label">Earned:</span>
                            <span class="main__reviews-item__value">$823</span>
                        </div>
                        <div class="main__reviews-item__rating">
                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                    </div>

                        <span class="main__reviews-item__text">
                            La plateforme de trading est également pratique, le retrait et la reconstitution des fonds sont rapides, je trade moi-même depuis 3 ans, je suis en général satisfait, je recommande!                        </span>

                        <a href="https://quotexbroker.com.pk/en/reviews/493/" class="main__reviews-item__button">
                            Read More                            <svg><use href="#arrow-right"/></svg>
                        </a>
                    </div>
                                 <div class="main__reviews-item">
                        <div class="main__reviews-item__user">Matthieu</div>
                        <div>
                            <span class="main__reviews-item__value">12 août 2020</span>
                        </div>
                        <div>
                            <span class="main__reviews-item__label">Earned:</span>
                            <span class="main__reviews-item__value">$1945</span>
                        </div>
                        <div class="main__reviews-item__rating">
                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                    </div>

                        <span class="main__reviews-item__text">
                            Une merveilleuse application où vous pouvez gagner de l'argent facilement et simplement ! Si vous n'êtes pas encore inscrit, inscrivez-vous et vous gagnerez bientôt de l'argent!                        </span>

                        <a href="https://quotexbroker.com.pk/en/reviews/495/" class="main__reviews-item__button">
                            Read More                            <svg><use href="#arrow-right"/></svg>
                        </a>
                    </div>
                                 <div class="main__reviews-item">
                        <div class="main__reviews-item__user">Antoine</div>
                        <div>
                            <span class="main__reviews-item__value">15 mars 2020</span>
                        </div>
                        <div>
                            <span class="main__reviews-item__label">Earned:</span>
                            <span class="main__reviews-item__value">$245</span>
                        </div>
                        <div class="main__reviews-item__rating">
                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                                                                <svg><use xlink:href="#star"/></svg>
                                                                                    </div>

                        <span class="main__reviews-item__text">
                            Très bon courtier, beaucoup d'outils pour le trading, très pratique et des graphiques clairs, je vous recommande mes chéris.                        </span>

                        <a href="https://quotexbroker.com.pk/en/reviews/491/" class="main__reviews-item__button">
                            Read More                            <svg><use href="#arrow-right"/></svg>
                        </a>
                    </div>
                     </div>

        <a href="https://quotexbroker.com.pk/en/reviews/" class="main__reviews-button">
            View all reviews            <div class="main__reviews-button__arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                  <path d="M6.45805 2.15395L6.13041 2.46911C6.0274 2.56806 5.97041 2.70034 5.97041 2.84115C5.97041 2.98211 6.0274 3.12635 6.13041 3.22531L8.23561 5.26297H1.54724C1.24561 5.26297 1 5.4748 1 5.76494V6.21089C1 6.50095 1.24561 6.76636 1.54724 6.76636H8.25943L6.13041 8.79996C6.0274 8.89907 5.97041 9.02376 5.97041 9.16472C5.97041 9.30552 6.0274 9.43412 6.13041 9.53316L6.45805 9.8466C6.6713 10.0517 7.01821 10.0508 7.23146 9.84574L10.8403 6.37305C10.9431 6.27418 11 6.14151 11 5.99953V5.99804C11 5.85716 10.9431 5.72481 10.8403 5.62593L7.23154 2.15395C7.01837 1.94868 6.6713 1.94868 6.45805 2.15395Z" fill="white"/>
                </svg>
            </div>
        </a>

    </div>

    <div class="main__appendix">
        <div class="main__appendix-mobile">
            <img src="/static/site/img/appendix-mobile.png" alt="appendix-mobile" />
        </div>

        <img class="main__appendix-bg" src="/static/site/img/appendix-bg.png" alt="appendix-bg" />

        <div class="main__appendix-block">
            <h2 class="main__appendix-title">Mobile app is always at your fingertips</h2>
            <p class="main__appendix-subtitle">Download our user-friendly trading app to your mobile device and start trading.</p>

            <div class="main__appendix-buttons">
                <a href="https://play.google.com/store/apps/details?id=io.quotex.x">
                    <i class="icon icon__appendix-playmarket"></i>
                </a>

                <div>
                    <i class="icon icon__appendix-appstore"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="main__questions" dir="auto">
        <p dir="auto" class="main__questions-title">Frequently asked questions</p>

        <p dir="auto" class="main__questions-subtitle">See the the most common questions of new traders answered here.</p>

        <div class="main__questions-items">
            <ul>
                <li class="main__questions__accordion-block ">
                    <input class="main__questions__accordion-checkbox" type="checkbox" id="faq-1"></input>
                    <label for="faq-1" class="main__questions__accordion-label">
                        <div class="main__questions__accordion__question">How do I learn how to trade?</div>

                        <svg class="main__questions__accordion-label__plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.46154 0H9.53846V6.46154H16V9.53846H9.53846V16H6.46154V9.53846H0V6.46154H6.46154V0Z" fill="#026FD3"/>
                        </svg>
                        <svg class="main__questions__accordion-label__minus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16 6.46143V9.53835H0V6.46143H16Z" fill="#026FD3"/>
                        </svg>
                    </label>
                    <div class="main__questions__accordion-text">
                        Sign up and start practicing on a free demo account. It is just like real trading, except virtual funds are used.                    </div>
                </li>

                <li class="main__questions__accordion-block ">
                    <input class="main__questions__accordion-checkbox" type="checkbox" id="faq-2"></input>
                    <label for="faq-2" class="main__questions__accordion-label">
                        <div class="main__questions__accordion__question">How long does it take to withdraw funds?</div>

                        <svg class="main__questions__accordion-label__plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.46154 0H9.53846V6.46154H16V9.53846H9.53846V16H6.46154V9.53846H0V6.46154H6.46154V0Z" fill="#026FD3"/>
                        </svg>
                        <svg class="main__questions__accordion-label__minus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16 6.46143V9.53835H0V6.46143H16Z" fill="#026FD3"/>
                        </svg>
                    </label>
                    <div class="main__questions__accordion-text">
                        Generally, a withdrawal procedure may take from 1 to 5 days, starting from the date you place a request. The actual time will depend on the current volume of withdrawals that are being processed at the same time. We do our best to withdraw your funds as soon as it is possible.                    </div>
                </li>

                <li class="main__questions__accordion-block ">
                    <input class="main__questions__accordion-checkbox" type="checkbox" id="faq-4"></input>
                    <label for="faq-4" class="main__questions__accordion-label">
                        <div class="main__questions__accordion__question">What is trading platform and what it is for?</div>

                        <svg class="main__questions__accordion-label__plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.46154 0H9.53846V6.46154H16V9.53846H9.53846V16H6.46154V9.53846H0V6.46154H6.46154V0Z" fill="#026FD3"/>
                        </svg>
                        <svg class="main__questions__accordion-label__minus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16 6.46143V9.53835H0V6.46143H16Z" fill="#026FD3"/>
                        </svg>
                    </label>
                    <div class="main__questions__accordion-text">
                        A trading platform is a software solution that allows you to perform trading operations using various financial instruments. You will also have access to the essential data such as asset quotes, real-time market positions, revenue percentage etc.                    </div>
                </li>

                <li class="main__questions__accordion-block ">
                    <input class="main__questions__accordion-checkbox" type="checkbox" id="faq-3"></input>
                    <label for="faq-3" class="main__questions__accordion-label">
                        <div class="main__questions__accordion__question">Can I trade using a phone / mobile device?</div>

                        <svg class="main__questions__accordion-label__plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.46154 0H9.53846V6.46154H16V9.53846H9.53846V16H6.46154V9.53846H0V6.46154H6.46154V0Z" fill="#026FD3"/>
                        </svg>
                        <svg class="main__questions__accordion-label__minus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16 6.46143V9.53835H0V6.46143H16Z" fill="#026FD3"/>
                        </svg>
                    </label>
                    <div class="main__questions__accordion-text">
                        Yes, the platform is optimized to run on almost any modern computer or mobile device. You can use either the browser version, or the Android app.                    </div>
                </li>

                <li class="main__questions__accordion-block ">
                    <input class="main__questions__accordion-checkbox" type="checkbox" id="faq-5"></input>
                    <label for="faq-5" class="main__questions__accordion-label">
                        <div class="main__questions__accordion__question">What is the minimum deposit amount?</div>

                        <svg class="main__questions__accordion-label__plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.46154 0H9.53846V6.46154H16V9.53846H9.53846V16H6.46154V9.53846H0V6.46154H6.46154V0Z" fill="#026FD3"/>
                        </svg>
                        <svg class="main__questions__accordion-label__minus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16 6.46143V9.53835H0V6.46143H16Z" fill="#026FD3"/>
                        </svg>
                    </label>
                    <div class="main__questions__accordion-text">
                        The main advantage is that you don’t have to invest large amounts to trade on the platform. You can simply start with a deposit of 10 US dollars.                    </div>
                </li>

                <li class="main__questions__accordion-block ">
                    <input class="main__questions__accordion-checkbox" type="checkbox" id="faq-6"></input>
                    <label for="faq-6" class="main__questions__accordion-label">
                        <div class="main__questions__accordion__question">Are there any deposit or withdrawal fees?</div>

                        <svg class="main__questions__accordion-label__plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.46154 0H9.53846V6.46154H16V9.53846H9.53846V16H6.46154V9.53846H0V6.46154H6.46154V0Z" fill="#026FD3"/>
                        </svg>

                        <svg class="main__questions__accordion-label__minus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16 6.46143V9.53835H0V6.46143H16Z" fill="#026FD3"/>
                        </svg>
                    </label>
                    <div class="main__questions__accordion-text">
                        <div>No, the broker does not charge any deposit/withdrawal fees.</div>
                        </br>
                        <div>However, you should be aware that such fees may be imposed by the third-party payment providers that you may be using. They may also apply their own currency conversion rate.</div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="main__questions__section" >
            <div class="main__questions__section-text">
                <div>Do you have other questions?</div>
                <div>Go to all questions in the <a href="/faqs/">FAQ section</a> or <a href="/go/quotex/">contact us</a>.</div>
            </div>

            <img src="/static/site/img/about-us-questions.png" alt="about-us-questions" />
        </div>
    </div>
</div><!-- prettier-ignore -->
<footer class="footer"  dir="auto">
    <div class="footer__block">
        <a class="footer__logo" href="#">
            <img src="/static/site/img/quotex_logo-white.svg" alt="quotex"/>
        </a>

        <div class="footer__links">
            <nav>
                <ul>
                    <li>
                        <a class="footer__links-section " href="/faqs/" class="-title" target="_blank">
                            FAQ
                            <svg width="18" height="18" viewBox="0 0 18 18"  xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.52432 5.20379C6.26968 4.92877 6.26968 4.49246 6.52432 4.21744C6.79664 3.92332 7.24999 3.92915 7.5079 4.22539L11.4757 8.51083C11.5998 8.64491 11.6667 8.82538 11.6667 9.00401C11.6667 9.18867 11.6008 9.36204 11.4757 9.49718L7.5079 13.7826C7.23955 14.0725 6.79268 14.0725 6.52432 13.7826C6.26968 13.5076 6.26968 13.0713 6.52432 12.7963L10.0426 8.99631L6.52432 5.20379Z" />
                            </svg>
                        </a>
                    </li>

                    <li>
                        <a class="footer__links-item" class="footer__links-item" href="/faqs/">
                            General questions                        </a>
                    </li>
                    <li>
                        <a class="footer__links-item" href="/faqs/#financial">
                            Financial questions                        </a>
                    </li>
                    <li>
                        <a class="footer__links-item" href="/faqs/#verification">
                            Verification                        </a>
                    </li>
                </ul>
            </nav>

            <nav>
                <ul>
                    <li>
                        <a class="footer__links-section " href="/about-quotex-pakistan/" class="-title" target="_blank">
                            About us
                            <svg width="18" height="18" viewBox="0 0 18 18"  xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.52432 5.20379C6.26968 4.92877 6.26968 4.49246 6.52432 4.21744C6.79664 3.92332 7.24999 3.92915 7.5079 4.22539L11.4757 8.51083C11.5998 8.64491 11.6667 8.82538 11.6667 9.00401C11.6667 9.18867 11.6008 9.36204 11.4757 9.49718L7.5079 13.7826C7.23955 14.0725 6.79268 14.0725 6.52432 13.7826C6.26968 13.5076 6.26968 13.0713 6.52432 12.7963L10.0426 8.99631L6.52432 5.20379Z" />
                            </svg>
                        </a>
                    </li>

                    <li>
                        <a class="footer__links-item" href="/go/quotex/">Contacts</a>
                    </li>
                </ul>
            </nav>

            <nav>
                <ul>
                    <li>
                        <div class="footer__links-section__title">
                            More                        </div>
                    </li>

                    <li>
                        <a class="footer__links-item" href="/go/quotex/">Demo account</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div>
            <div class="footer__social-title">Download the app</div>

            <a class="footer__playmarket" href="/go/quotex/">
                <img src="/static/site/img/playmarket.svg" alt="playmarket"/>
            </a>

            <div class="footer__social-title">Follow us on social media</div>

            <a class="footer__social-item" href="/go/quotex/" target="_blank">
                <i class="icon icon__facebook"></i>
                <div>10K+</div>
            </a>

            <a class="footer__social-item" href="/go/quotex/" target="_blank">
                <i class="icon icon__instagram"></i>
                <div>76K+</div>
            </a>

            <a class="footer__social-item" href="/go/quotex/" target="_blank">
                <i class="icon icon__telegram"></i>
                <div>90K+</div>
            </a>
        </div>
    </div>

    <div class="footer__container">
        <nav>
            <ul>
                <li><p class="footer__section-title">Regulations</p></li>

                <li>
                    <a class="footer__links-item" href="/go/quotex/" target="_blank">
                        Privacy policy                    </a>
                </li>
                <li>
                    <a class="footer__links-item" href="/go/quotex/" target="_blank">
                        Service agreement                    </a>
                </li>
                <li>
                    <a class="footer__links-item" href="/go/quotex/" target="_blank">
                        Risk disclosure                    </a>
                </li>
                <li>
                    <a class="footer__links-item" href="/go/quotex/" target="_blank">
                        Rules of trading operations                    </a>
                </li>
                <li>
                    <a class="footer__links-item" href="/go/quotex/" target="_blank">
                        Non-trading operations regulations                    </a>
                </li>
                <li>
                    <a class="footer__links-item" href="/go/quotex/" target="_blank">
                        Payment policy                    </a>
                </li>
            </ul>
        </nav>

        <div class="footer__text">
            <p>
                ON SPOT LLC GROUP. Address: Main Street, P.O. Box 625, Charlestown, St. Kitts and Nevis.            </p>
            <br/>
            <p>
                The website services are not available in a number of countries, including USA, Canada, Hong Kong, EEA countries, Israel, Russia as well as for persons under 18 years of age.            </p>
            <br/>
            <p>
                Risk Warning: Trading Forex and Leveraged Financial Instruments involves significant risk and can result in the loss of your invested capital. You should not invest more than you can afford to lose and should ensure that you fully understand the risks involved. Trading leveraged products may not be suitable for all investors. Trading non-leveraged products such as stocks also involves risk as the value of a stock can fall as well as rise, which could mean getting back less than you originally put in. Past performance is no guarantee of future results. Before trading, please take into consideration your level of experience, investment objectives and seek independent financial advice if necessary. It is the responsibility of the Client to ascertain whether he/she is permitted to use the services of the Quotex brand based on the legal requirements in his/her country of residence.            </p>
            <br/><br/>
            <p>Copyright © 2025 Quotex. All rights reserved</p>
        </div>
    </div>
</footer>

<!-- prettier-ignore -->

<script src="/static/site/js/main.min.js?7"></script>
</bdi>
</body>
</html>